body{
    text-align: center;
    background-image: url(images/image\ 2.jpeg)
    
}

style

  table {
    margin: 0 auto; /* center the table horizontally */
    border-collapse: collapse;
    color: silver;
    border-width: 1px;
    border-style: solid;
  }
  
  th, td {
    border: 2px solid silver;
    padding: 15px;
    text-align: left;
    border-style: solid;

  }
  
  /* add some padding to the body to create some space around the table */
  body {
    padding: 200px;
    color: whitesmoke;
  }

  h1{
    text-align: center;
    font-family:unset;
    text-decoration: underline;
  }

  th{
    text-align: center;
    text-decoration: underline;
  }

  a:hover{
    background-color: white;
    color: black
  }

style